name: Build Sphinx Docs and Deploy

on:
  push:
    branches: [ main ]  # 当推送到 main 分支时触发

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
           pip install \
                sphinx \
                sphinx-immaterial \
                myst-parser \
                sphinx-copybutton \
                sphinx-design \
                sphinx-prompt \
                sphinx-notfound-page\
                sphinx-substitution-extensions

      - name: Build HTML documentation
        run: |
          make -C doc html
        env:
          SPHINXOPTS: "-W"  # 可选：将警告视为错误，提高文档质量

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/build/html
          enable_jekyll: false  # 防止 GitHub 干扰 _static, _modules 等文件夹
